body * {
    margin: 10px ;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{ 
    color: white;
    background-color: black;
    padding: 10px; 
    font-weight: 300 bold;
}
h2{
    color:white;
    background-color: rebeccapurple;
    padding: 10px;
    text-align: center;
    font-style: oblique;
    font-weight: lighter;
}
h3{
    color:darkslateblue;
    background-color:lightskyblue;
    padding: 10px;
    text-align: right;
    font-style: italic;
    text-decoration: underline;
}
